# Insights
{{ INSIGHTS_HOST }}{% if not ENABLE_HTTPS %}:80{% endif %} {
    reverse_proxy nginx:80
}
# Analytics API
{{ INSIGHTS_ANALYTICSAPI_HOST }}{% if not ENABLE_HTTPS %}:80{% endif %} {
    reverse_proxy nginx:80
}